body {
	margin: 0;
	height: 100%;
	background-color: #4F6A8F;
	font-family: 'Helvetica';
}

.header-area {
	background-color: #00204A;
	width: 100%;
	padding: 30px 0;
	text-align: center;
}

.header-area header.title {
	padding: 10px 0;
	width: 20%;
	margin: 0 auto;
	border: 5px solid #fff;
	color: #fff;
	font-size: 2em;
}

.social-nav {
	background-color: #222529;
	padding: 1em;
	text-align: center;
	border-bottom: 5px solid #3C4147;
}

.social-nav ul {
	margin: 0 auto;
	padding: 0;
}

.social-nav ul li{
	padding: 0.5em;
	display: inline;
	transition: all ease 0.3s;
}

.social-nav a {
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
}

.social-nav li:hover {
	background-color: #3C4147;
	border-radius: 3px;
}

.content-header {
	background-color: #fff;
	width: 50%;
	margin: 10px auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	padding: 5px 15px;
}

.content-header p {
	font-size: 1.2em;
	text-align: center;
}

.projects {
	width: 80%;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.project-box {
	margin: 10px;
	width: calc(50% - 20px);
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.project-box * {
	margin: 15px;
	line-height: 1.4em;
}

.project-box img {
	margin: 0;
	max-width: 100%;
}

.project-box h1 {
	font-size: 1.5em;
}

.project-box h2 {
	font-size: 1.3em;
}

.project-box em {
	display: block;
	color: #4B4B4B;
}

.project-box ul {
	padding-left: 10px;
	margin-bottom: 25px;
}

.project-box ul li {
	display: inline-block;
	background-color: rgba(0,0,0,0.3);	
	padding: 10px;
	margin: 3px 0;
	border-radius: 3px;
}

.project-box a {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin: 20px 0;
	font-weight: bold;
	transition: all ease 0.3s;
}

.project-box a:hover {
	background-color: rgba(0,0,0,0.6);
}